@tailwind base;
@tailwind components;
@tailwind utilities;

.contain-content {
	contain: unset !important;
	content-visibility: visible !important;
}

/* * */
/* THEME SWITCH */

html.dark .theme-light {
	display: none;
}

html.light .theme-dark {
	display: none;
}